# Compressed files
*.tar.gz
*.zip

# Unit tests config
phpunit.xml
phpcs.xml
.travis.yml
/bin
tests/mocks/env/

# Sass cache
.sass-cache/

# Development files
/node_modules
/assets/vendor/
composer.lock
*.log

# Editors
.idea/
*.esproj
*.tmproj
*.tmproject
tmtags
.*.sw[a-z]
*.un~
Session.vim
*.swp
wp-cli.local.yml
*.sql

# Mac OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini
dev.log
